{% extends "weatherdashboard/base.html" %}
{% load static %}

{% block styles %}
<style>
    #layoutSidenav_content {
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <div class="container px-5"> <!-- Add container for padding -->
        <form method="post" class="mt-5">
            {% csrf_token %}
            
            <!-- Row for Station, Start Date, and End Date -->
            <div class="row mb-4">
                <div class="col-md-4">
                    <label for="id_station" class="form-label">{{ form.station.label }}</label>
                    {{ form.station }}
                </div>
                <div class="col-md-4">
                    <label for="id_start_date" class="form-label">{{ form.start_date.label }}</label>
                    {{ form.start_date }}
                </div>
                <div class="col-md-4">
                    <label for="id_end_date" class="form-label">{{ form.end_date.label }}</label>
                    {{ form.end_date }}
                </div>
            </div>

            <!-- Multi-Select Dropdown -->
            <div class="row mb-4">
                <div class="col-md-12">
                    <label for="id_fields" class="form-label">{{ form.fields.label }}</label>
                    {{ form.fields }}
                </div>
            </div>

            <!-- Submit Button -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Download</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.dropdown_ex').select2({
            placeholder: "Select Options", // Placeholder for the dropdown
            allowClear: true,
        });
    });
</script>
{% endblock %}