{% extends "weatherdashboard/base.html" %}
{% load static %}

{% block styles %}
<style>
    #layoutSidenav_content {
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
    #stationsTable {
        max-width: 60%;
        margin: 0 auto; 
    }
    #stationsTableField {
        background-color: #E5F4E7;
        font-weight: normal !important
    }
    .station-link {
        text-decoration: none;
    }
    .station-link:hover {
        text-decoration: underline; 
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <div class="table-responsive mb-5 mt-5">
        <table id="stationsTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="9" style="text-align: center !important; background-color: #a5a9ac25; font-weight: normal !important">
                        <i class="fas fa-table me-1"></i>
                        Yesterday's Weather Summary
                    </th>
                </tr>

                <tr>
                    <th id="stationsTableField">Station</th>
                    <th id="stationsTableField">ETo<br>(in.)</th>
                    <th id="stationsTableField">Max Temp<br>(&deg;F)</th>
                    <th id="stationsTableField">Min Temp<br>(&deg;F)</th>
                    <th id="stationsTableField">Min RH<br>(%)</th>
                    <th id="stationsTableField">Solar Rad.<br>(MJ/m2)</th>
                    <th id="stationsTableField">Rainfall<br>(in.)</th>
                    <th id="stationsTableField">Wind 4am<br>(mph)</th>
                    <th id="stationsTableField">Wind 4pm<br>(mph)</th>
                </tr>

                <tr>
                    <th colspan="9" style="text-align: center !important; background-color: #a5a9ac25; font-weight: normal !important">
                        Coastal Bend
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for station_name, weather_object in recent_weather_data.items %}
                    <tr>
                        <td><a href="{% url 'station' station_name=station_name %}" class="station-link">{{ station_name }}</a></td>
                        <td>{{ weather_object.eto}}</td>
                        <td>{{ weather_object.max_temp }}</td>
                        <td>{{ weather_object.min_temp }}</td>
                        <td>{{ weather_object.min_rh }}</td>
                        <td>{{ weather_object.solar_rad }}</td>
                        <td>{{ weather_object.rainfall }}</td>
                        <td>{{ weather_object.wind_4am }}</td>
                        <td>{{ weather_object.wind_4pm }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}