# Ignore the virtual environment folder
backend/venv/

important_commands.txt
demo.py

# Ignore PyCharm and VSCode project files
.idea/
.vscode/

# Ignore compiled Python files
__pycache__/
*.py[cod]

backend/.env

test_dump.sql