// 
// Sidenav
// 

// Base styling for the sidenav

.sb-sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;

    .sb-sidenav-menu {
        flex-grow: 1;

        .nav {
            flex-direction: column;
            flex-wrap: nowrap;

            .sb-sidenav-menu-heading {
                padding: 1.75rem 1rem 0.75rem;
                font-size: 0.75rem;
                font-weight: bold;
                text-transform: uppercase;
                border-bottom: 1px solid $gray-300; 
            }

            .nav-link {
                display: flex;
                align-items: center;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                position: relative;

                .sb-nav-link-icon {
                    font-size: 0.9rem;
                }

                .sb-sidenav-collapse-arrow {
                    display: inline-block;
                    margin-left: auto;
                    transition: transform 0.15s ease;
                }

                &.collapsed {
                    .sb-sidenav-collapse-arrow {
                        transform: rotate(-90deg);
                    }
                }
            }

            .sb-sidenav-menu-nested {
                margin-left: 1.5rem;
                flex-direction: column;

                // General Button Styling for Sidebar
                .btn {
                    display: block; /* Ensure buttons are block-level elements */
                    width: auto; /* Allow the width to adjust based on content */
                    max-width: 90%; /* Limit the width to 90% of the container */
                    margin: 5px auto 5px 0; /* Center the button horizontally, add right margin */
                    padding: 5px 10px; /* Add padding for consistent spacing */
                    border-radius: 4px;
                    font-size: 0.69rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center; /* Center the text within the button */
                    white-space: nowrap; /* Prevent the text from wrapping to a new line */
                    margin-right: 0.5rem; /* Same margin-right as nav-links */
                    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s; /* Smooth transitions */
                }
            }
        }
    }

    .sb-sidenav-footer {
        padding: 0.75rem;
        flex-shrink: 0;
        border-top: 1px solid $gray-300; // Faint line above the footer
    }
}